$header-font: 'Roboto', sans-serif;
$header-bgcolor: #34515e;
$header-color: white;
$header-light: #8eacbb;
$default-font-color: #263238;

$border-limegreen: 10px solid limegreen;
$border-lightcoral: 10px solid lightcoral;